.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  max-width: 80vw;
  max-height: 70vh;
  padding: 30px;
  margin: 10vh auto;
  background-color: rgb(238, 255, 253);
}